@model WebLayihe.ViewModels.VmTeacherDetails

@{
    ViewBag.Title = "Index";
}

<!-- Banner Area Start -->

@{
    Html.RenderPartial("~/Views/Shared/_headerPartial.cshtml", Model.Header);
}


<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-details-area pt-150 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="teacher-details-img">
                    <img src="~/Uploads/@Model.Teacher.Image" width="489" height="499" alt="teacher">
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="teacher-details-content ml-50">
                    <h2>@Model.Teacher.Fullname</h2>
                    <h5>@Model.Occupation.Name</h5>
                    <h4>about me</h4>
                    
                    @Html.Raw(Model.Teacher.Content)

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="teacher-contact">
                    <h4>contact information</h4>
                    <p><span>mail me : </span>@Model.Teacher.Email</p>
                    <p><span>make a call : </span>@Model.Teacher.Phone</p>
                    <p><span>skype : </span> @Model.Teacher.Skype</p>
                    <ul>
                        @foreach (var item in Model.Socials)
                        {
                            <li><a href="@item.Link"><i class="@item.Icon"></i></a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="skill-area">
                    <h4>skills</h4>
                </div>
                <div class="skill-wrapper">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="skill-bar-item">
                                <span>language</span>
                                <div class="progress">
                                    <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.Teacher.Language%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                        <span class="text-top">@Model.Teacher.Language %</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="skill-bar-item">
                                <span>team leader</span>
                                <div class="progress">
                                    <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.Teacher.TeamLeader%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                        <span class="text-top">@Model.Teacher.TeamLeader %</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="skill-bar-item">
                                <span>development</span>
                                <div class="progress">
                                    <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.Teacher.Development%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                        <span class="text-top">@Model.Teacher.Development %</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="skill-bar-item">
                                <span>design</span>
                                <div class="progress">
                                    <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.Teacher.Design%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                        <span class="text-top">@Model.Teacher.Design %</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="skill-bar-item">
                                <span>innovation</span>
                                <div class="progress">
                                    <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.Teacher.Innovation%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                        <span class="text-top">@Model.Teacher.Innovation %</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="skill-bar-item">
                                <span>communication</span>
                                <div class="progress">
                                    <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.Teacher.Communication%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                        <span class="text-top">@Model.Teacher.Communication %</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Teacher End -->
