@model IEnumerable<WebLayihe.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            <p>Speakers</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatagoryId)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
        <img src="~/Uploads/@item.Image" alt="image event" width="133" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Venue)
    </td>
    <td>
        @Html.Raw(item.Content)
    </td>


    <td>

        @foreach (var it in ViewBag.SpeakerEvents)
        {
            if (it.EventId == item.Id)
            {
                <p>@it.Speaker.Fullname</p>
            }
        }
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.Catagory.Name)
    </td>
    <td>
        @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
        <a href="@Url.Action("Delete", "Event", new { id = item.Id })" onclick="return confirm('are  you sure ?')">Delete</a>
    </td>
</tr>
}

</table>
