@model WebLayihe.ViewModels.VmTeacher


@{
    ViewBag.Title = "Index";
}

<!-- Banner Area Start -->

@{
    Html.RenderPartial("~/Views/Shared/_headerPartial.cshtml", Model.Header);
}

<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Teachers)
            {
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-teacher">
                        <div class="single-teacher-img">
                            <a href="@Url.Action("Index","TeacherDetail", new { id= item.Id})"><img src="~/Uploads/@item.Image" alt="teacher"></a>
                        </div>
                        <div class="single-teacher-content text-center">
                            <h2><a href="@Url.Action("Index","TeacherDetail", new { id= item.Id})">@item.Fullname</a></h2>
                            <h4>@item.Occupation.Name</h4>
                            <ul>
                                @foreach (var icon in item.Socials)
                                {
                                    <li><a href="@icon.Link"><i class="@icon.Icon"></i></a></li>

                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Teacher End -->
